.banner {
  padding: 105px 0 0;
  position: relative;
  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    margin-bottom: 28px;
    max-width: 815px;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 29px;
    max-width: 506px;
  }

  .swiper-wrapper {
    padding-bottom: 185px;
  }

  .swiper-pagination {
  /*   bottom: 20px; */
    position: static;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    opacity: 1;
    margin-right: 27px !important;
    margin-left: 0 !important;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }

  .signup {
    position: absolute;
    top: 55%;
    left: 0;
  }
}

> * {
  user-select: none;
}
.timer {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #bfdbed;
  overflow: hidden;
  position: relative;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: 3;
      background-color: #bfdbed;
      animation: mask_left 4s steps(1, end) forwards;
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      z-index: 3;
      background-color: #006eb8;
      animation: mask_right 4s steps(1, end) forwards;
      opacity: 1;
    }
    .timer__line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      animation: line 4s linear forwards;
      opacity: 1;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #006eb8;
        opacity: 1;
      }
    }
  }
}

@keyframes line {
  0% {
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes mask_left {
  0% {
    visibility: visible;
  }

  50%,
  100% {
    visibility: hidden;
  }
}

@keyframes mask_right {
  0% {
    visibility: hidden;
  }

  50%,
  100% {
    visibility: visible;
  }
}
