.images {
  z-index: 20;
  img {
    position: absolute;
    z-index: 20;
  }

  &__girl {
    top: 56px;
    right: 508px;
    border-radius: 50%;
    @media (max-width: 1580px) {
      top: 50px;
      right: -35px;
      max-width: 250px;
    }
  }

  &__girl,
  &__teacher,
  &__boy {
    animation: clip 1.2s ease-out;
    clip-path: circle(100% at 50% 50%);
    animation-delay: 0.2s;
  }

  &__teacher {
    right: 0;
    top: -30px;
    @media (max-width: 1580px) {
      display: none;
    }
  }

  &__boy {
    bottom: 50px;
    right: 255px;
    @media (max-width: 1580px) {
      right: -35px;
      max-width: 200px;
      bottom: initial;
      top: 275px;
    }
  }

  &__bird-blue {
    top: 24px;
    right: 520px;

    @media (max-width: 1580px) {
      right: -25px;
      max-width: 170px;
      top: 25px;
    }
  }

  &__bird-red {
    right: 467px;
    bottom: 285px;

    @media (max-width: 1580px) {
      right: -30px;
      max-width: 120px;
      bottom: 420px;
    }
  }

  &__bird-blue-right {
    right: -60px;
    bottom: 290px;

    @media (max-width: 1580px) {
      right: -22px;

      max-width: 90px;
      bottom: 225px;
    }
  }
}
