.lesson {
  margin-bottom: 123px;
  @media (max-width: 1919px) {
    margin-bottom: calc(95px + (28 + 28 * 0.7) * ((100vw - 375px) / 1919));
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #eb4961;
    border-radius: 19px;
    overflow: hidden;

    @media (max-width: 1170px) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    max-width: 710px;
    padding: 112px 0 107px 90px;
    @media (max-width: 1400px) {
      padding: 82px 0 77px 60px;
    }

    @media (max-width: 1170px) {
      padding: 40px 40px 0;
      max-width: 100%;
    }

    @media (max-width: 560px) {
      padding: 61px 11px 0 30px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 130%;
    /* or 104px */

    color: #ffffff;
    margin-bottom: 28px;

    @media (max-width: 1919px) {
      font-size: calc(60px + (10 + 10 * 0.7) * ((100vw - 375px) / 1919));
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    color: #ffffff;
    margin-bottom: 40px;
    max-width: 476px;

    @media (max-width: 1919px) {
      font-size: calc(18px + (3 + 3 * 0.7) * ((100vw - 375px) / 1919));
    }
  }

  &__right {
    position: relative;
    img {
      position: absolute;

      &:nth-child(1) {
        top: 74px;
        right: 112px;
        z-index: 3;
      }
      &:nth-child(2) {
        right: 0;
        bottom: 0;
      }
      &:nth-child(3) {
        bottom: 120px;
        right: 390px;
        width: 241px;
        z-index: 4;
      }
      &:nth-child(4) {
        top: 74px;
        right: 74px;
        width: 254px;
        z-index: 4;
      }
    }

    @media (max-width: 1400px) {
      img {
        transform: scale(0.7);
        &:nth-child(1) {
          right: 30px;
        }
        &:nth-child(2) {
          right: -70px;
          bottom: -90px;
        }
        &:nth-child(3) {
          right: 315px;
        }
        &:nth-child(4) {
          top: 135px;
          right: 115px;
        }
      }
    }

    @media (max-width: 1170px) {
      height: 300px;
      width: 100%;
      img {
        &:nth-child(1) {
          top: -120px;
          right: -10px;
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
          right: 250px;
          bottom: 40px;
        }
        &:nth-child(4) {
          top: -70px;
          right: 70px;
        }
      }
    }

    @media (max-width: 900px) {
      height: 410px;

      img {
        &:nth-child(1) {
          top: -25px;
        }
        &:nth-child(4) {
          top: 20px;
        }
      }
    }

    @media (max-width: 560px) {
      height: 460px;
      img {
        transform: scale(0.75);
        &:nth-child(1) {
          right: -106px;
          top: -16px;
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
          right: 205px;
          bottom: 90px;
          max-width: 150px;
        }
        &:nth-child(4) {
          max-width: 180px;
          top: 40px;
          right: -45px;
        }
      }
    }
  }
}
.btn {
  &_white {
  }
}
